<!DOCTYPE html>
<html>

<head>
	<title>
		Dashboard page
	</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
	<link rel="manifest" href="fav/site.webmanifest">
	<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">



	<link href='css/dashboard.css' rel='stylesheet' />
</head>

<body>
	<div class="page page--dashboard">
		<aside class="page_aside aside">
			<div class="aside_logo">
				Sidebar
			</div>
			<nav class="aside_nav">
				<a href="#" class="nav-button nav-button--active hover">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
					<span class="text text--line text--light">Home</span>
				</a>
				<a href="#" class="nav-button nav-button--active hover">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/table.svg')"></span>
					<span class="text text--line text--light">Orders</span>
				</a>
				<a href="#" class="nav-button nav-button--active hover">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/grid.svg')"></span>
					<span class="text text--line text--light">Products</span>
				</a>
			</nav>
		</aside>
		<header class="header">
				TEST
		</header>
		<main class="main">
				13215465465
		</main>
	</div>

	
</body>


</html>