<!DOCTYPE html>
<html>

<head>
	<title>
		Slack page
	</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
	<link rel="manifest" href="fav/site.webmanifest">
	<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">



	<link href='css/slack.css' rel='stylesheet' />
</head>

<body>

	<div class="page">
		<section class="page_section ">
			<div class="page_content hero_section">

				<div class="hero">
					<div class="hero_content">
						<span class="hero_label">Slack Features</span>
						<h1 class="hero_title">One platform for your team and your work</h1>
						<p class="hero_info">All the features of Slack work together so you can, too.</p>
						<div class="hero_buttons">
							<a href="#" class="button button_primary click">Try for free</a>
							<a href="#" class="button button_secondary click">See all features</a>
						</div>
						<img src="/img/hero.png" alt="Hero" class="hero_image">
					</div>
				</div>

				<div class="brands">
					<img src="/img/brands/airbnb.png" class="brands_image" alt="">
					<img src="/img/brands/intuit.png" class="brands_image" alt="">
					<img src="/img/brands/newscorp.png" class="brands_image" alt="">
					<img src="/img/brands/onemedical.png" class="brands_image" alt="">
					<img src="/img/brands/sonos.png" class="brands_image" alt="">
					<img src="/img/brands/target.png" class="brands_image" alt="">
					<img src="/img/brands/uber.png" class="brands_image" alt="">
					<img src="/img/brands/vs.png" class="brands_image" alt="">
				</div>

			</div>
		</section>
		<section class="page_section page_section_light">

			<div class="page_content features_section">
				<h2 class="features_title double_line">Work more easily with everyone</h2>
				<p class="features_description double_line">Stay on the same page and make decisions faster by bringing
					all of your
					work communication into one place.</p>
				<div class="features_grid_4">

					<div class="feat_card ">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/conect.svg')"></span>
						<strong class="feat_card_title double_line"> Slack Connect </strong>
						<p class="feat_card_description">Collaborate with teams at other companies the same way you do
							with teams at your own.</p>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/conect.svg')"></span>
						<strong class="feat_card_title"> Channels </strong>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/tile.svg')"></span>
						<strong class="feat_card_title"> Canvas </strong>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon"
							style="background-image: url('/svg/feature/headphones.svg')"></span>
						<strong class="feat_card_title"> Huddles</strong>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/messaging.svg')"></span>
						<strong class="feat_card_title"> Messaging </strong>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/clips.svg')"></span>
						<strong class="feat_card_title"> Clips </strong>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="feat_card">
						<span class="icon feat_icon"
							style="background-image: url('/svg/feature/accessibility.svg')"></span>
						<strong class="feat_card_title"> Accessibility </strong>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

				</div>
			</div>

		</section>

		<section class="page_section page_need">
			<div class="page_content need_section">
				<div class="need_box">
					<h2 class="need_title double_line">Work more easily with everyone</h2>
					<p class="need_description double_line">Spend less time shuffling tabs with
						a comprehensive message archive and all your work tools at your fingertips.</p>
				</div>
				<div class="need_grid_3">

					<div class="need_card ">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/plus.svg')"></span>
						<strong class="feat_card_title double_line"> Apps and Integrations </strong>
						<p class="feat_card_description">Streamline work by connecting Slack with other services like
							Google Drive, Office 365 and over 2,200 more.</p>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="need_card ">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/lightning.svg')"></span>
						<strong class="feat_card_title double_line"> Workflow Builder </strong>
						<p class="feat_card_description">Automate routine actions and communication, so you can get back
							to the kind of work only humans can do.</p>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="need_card ">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/seach.svg')"></span>
						<strong class="feat_card_title double_line"> Seach</strong>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>

					<div class="need_card ">
						<span class="icon feat_icon" style="background-image: url('/svg/feature/sharing.svg')"></span>
						<strong class="feat_card_title double_line"> File sharing </strong>
						<a href="#" class="icon icon_arrow click feat_link"></a>
					</div>
				</div>
			</div>

		</section>

		<section class="page_section page_bike">
			<div class="page_content bike_section">

				<div class="bike_box">
					<img src="/img/bike.jpg" alt="Bike" class="img_bike">
				</div>

				<div class="bike_card">
					<p>“The thing that keeps us connected the most is Slack. It’s a very immediate and straightforward
						method of communication,
						and really the only channel that people prefer and enjoy using.”</p>
					<div class="bike_logo">
						<img src="/svg/deliveroo.png" alt="Logo">
					</div>
					<h4>Will Sprunt, CIO, Deliveroo</h4>
				</div>
			</div>
		</section>


	</div>
</body>


</html>