.page {
  background: #fff;
  padding: 0 15px;
}

.header {
  padding: 24px;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  font-size: 17px;
}

.divider {
  margin: 0;
  background: #dee2e6;
  height: 1px;
}

.nav {
  display: block;
}
.nav_vertical > .nav_link:not(:last-child) {
    display: block;
    margin-bottom: 12px;
    margin-right: 24px;
  }
  
  .nav_inline > .nav_link:not(:last-child) {
      margin-right: 24px;
  }

.nav_link {
  color: #343a40;
  font-size: 18px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}
.header_nav_rigth {
    margin-left: auto;
    width: fit-content;
}
.page-block:not(:last-of-type) {
    margin-bottom: 80px;
}

footer {
    padding: 24px 0;
}
.footer_copyright {
    font-size: 14px;
    color: #6C757D;
    margin-top: 12px;
    display: block;

}

.footer_title {
    font-size: 20px;
    color: #212529;

    margin-bottom: 12px;
    display: block;
}

.hero_title {
    font-size: 56px;
    color:#212529;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;
}

.hero_text {
    color:#212529;
    font-size: 20px;
    text-align: center;
    max-width: 585px;
    margin: 0 auto;

}

.plans_card:not(:last-of-type) {
    margin-right: 24px;
}

.card-header {
    padding: 12px;
    font-size: 24px;
    text-align: center;
    color: #212529
}
.card-body {
    padding: 24px;
}
.card_block {
    text-align: center;
}

.card_block:not(:last-of-type) {
    margin-bottom: 24px;
}

.card_price_amount {
    font-size: 40px;
    color:#212529;
}
.card_price_duration {
    font-size: 29px;
    color:  #6C757D;
    
}

.card_description {
    margin-bottom: 24px;
}
.card_description_item {
    font-size: 16px;
    color: #212529;
    display: block;
    text-align: center;
}
.card_description_item:not(:last-of-type) {
    margin-bottom: 12px;
}
.card_button {
    display: block;
    width: 100%;
    font-size: 19px;
    padding: 9px;
}