 <div class="card_articles">
        <div class="card_photo">
            <img src="{{photo}}" alt="{{name}}">
        </div>
        <h2 class="card_name">{{name}}</h2>
        <p class="card_description">{{description}}</p>
        <div class="card_button">
            <a href="#" class="card_link">Read all</a>
        </div>

    </div>